<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="sku_dlg" class="easyui-dialog" title="编辑sku" style="width:700px;height:520px;"
     closed="true"  data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#skuBtns" >
    <form id="skuForm">
        <br/>
        <label>sku名称:</label>
        <input  id="skuName" name="skuName" class="easyui-textbox" data-options="" style="width:300px;"/>
        <br/><br/>
        <label>商品价格:</label>
        <input  id="price" name="price" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品重量（千克):</label>
        <input  id="weight" name="weight" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品规格描述:</label>
        <input  id="skuDesc" name="skuDesc" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:100px"/>
        <!--隐藏spuId 60-->
        <input id="spuIdForSku" name="spuId" type="hidden"/>
        <!--skuId-->
        <input id="skuId" name="id" type="hidden"/>
        <!--三级分类ID-->
        <input id="catalog3IdForSku" name="catalog3Id" type="hidden"/>
        <br/><br/>
        <!--隐藏skuInfo 对象用的-->
        <input id="skuInfo" name="skuInfo" type="hidden"/>

        <!--动态获取数据-->
        <div id="attrInfoGroup"  title="平台属性" class="easyui-panel" style="padding:5px;" ></div>
        <!--动态获取数据-->
        <div id="spuSaleAttrGroup" title="销售属性" class="easyui-panel" style="padding:5px;" ></div>



        <!----------------商品图片列表 查询spuImg 列表----------------------->

        <table id="skuImgDg" class="easyui-datagrid" title="商品图片列表"
               data-options="singleSelect:false,selectOnCheck:false,method:'get'" ></table>
        <br/><br/>

        <!-------------->

    </form>
</div>
<!----------------弹出框的按钮组----------------------->
<div id="skuBtns">
    <a href="#" class="easyui-linkbutton" onclick="saveSku()">保 存</a>
    <a href="#" class="easyui-linkbutton" onclick="closeSku()">关 闭</a>
</div>
</body>

<script type="text/javascript">
    // 整个对话框的步骤和框架
    function initSkuInfoDlg(spuId,skuInfo,catalog3Id){
        //打开对话框
        $('#sku_dlg').dialog("open");
//        console.log("初始化文本sku："+ JSON.stringify(skuInfo));
        //初始化 表单
        initSkuForm(spuId,catalog3Id)

        loadSkuForm(skuInfo);

        //初始化图片表格
        initSkuImgListDatagrid(spuId) ;

        //初始化
        console.log("初始化销售属性!!!");
        initSpuSaleAttrGroup(spuId,skuInfo);

        console.log("初始化平台属性!!!");
        initAttrInfoGroup(catalog3Id);

        console.log("清理表单!!!");

    }

    // 将隐藏域中的spuId和三级分类id传到这个对话框的域中
    function initSkuForm(spuId,catalog3Id){
        /*清空表单数据*/
        $("#skuForm").form('clear');
        /*spuId 赋值*/
        $("#spuIdForSku").val(spuId);
        /*三级分类ID赋值*/
        $("#catalog3IdForSku").val(catalog3Id);
    }

    /*做编辑的时候初始化表单，我们做增加所以没用到这个方法*/
    function loadSkuForm(skuInfo){
        console.log("开始加载sku表单："+skuInfo.id);
        if(!skuInfo||!skuInfo.id){
            return;
        }
        console.log("开始加载sku表单："+skuInfo.skuName);
        $("#skuName").textbox('setValue',skuInfo.skuName);
        $("#skuDesc").textbox('setValue',skuInfo.skuDesc);
        $("#price").textbox('setValue', skuInfo.price);
        $("#weight").textbox('setValue',skuInfo.weight);
        $("#spuIdForSku").val(skuInfo.spuId);
        $("#skuDefaultImg").val(skuInfo.skuDefaultImg);
        $("#skuId").val(skuInfo.id);
        $("#catalog3IdForSku").val(skuInfo.catalog3Id);
        $("#skuInfo").val(JSON.stringify(skuInfo));//用于异步加载的 暂存
        console.log("skuInfo in hidden:"+$("#skuInfo").val());

    }

    function initSkuImgListDatagrid(spuId) {
        // 这两种方法写一个就行，意思都是加载初始化数据的，两个都是空的
        $("#skuImgDg").datagrid({url:""});
        $('#skuImgDg').datagrid('loadData', { total: 0, rows: [] });
        console.log("初始化表格sku");
        skuImgDg = $("#skuImgDg").datagrid({
            columns:[[
                { field:'checkFlag',checkbox:true},
                { field:'id',title:'文件编号',width:'15%'},//隐藏文件页面内部编号
                { field:'imgName',title:'图片简称',width:'30%'
                },
                { field:'imgUrl',title:'图片路径' ,width:'20%',
                    formatter:function (value, row, index) {
                        return "<img src="+row.imgUrl+" style='width:100px;height:100px;'>";
                    }
                }
                ,
                { field:'isDefault',title:'是否默认图片' ,width:'20%',
                    editor:{type: 'checkbox' ,
                        options: {
                            /*1:表示默认*/
                            on:"1",
                            off:"0"
                        }
                    }
                }
            ]],
            //加载成功后的回调
            onLoadSuccess: function () {   //隐藏表头的checkbox
                console.log("共加载"+skuImgDg.datagrid("getRows").length+"行");
                // loadSkuImg(skuInfo);
                loadSkuImg();
                skuImgDgbeginEdit();
            }

        });
        console.log('加载图片数据'+spuId);
        $('#skuImgDg').datagrid({url:'spuImageList?spuId='+spuId});
    }

    function loadSkuImg(){
        if($("#skuInfo").val()==''){
            return;
        }
        /*转换json对象*/
        var skuInfo=JSON.parse($("#skuInfo").val());
        console.log("加载sku图片:"+skuInfo+"||"+skuInfo.skuImageList);
        if(!skuInfo||!skuInfo.skuImageList){
            return;
        }
        console.log("加载sku图片:"+skuInfo+"||"+skuInfo.skuImageList);
        var imgDg=$('#skuImgDg') ;
        /*取得所有数据 已经加载好的图片列表集合 js*/
        var imgRows =imgDg.datagrid("getRows");
        /* 通过隐藏域获取的图片列表*/
        var skuImgList=skuInfo.skuImageList;
        /*spuImg列表*/
        for (var i = 0; i < imgRows.length; i++) {
            var imgRow = imgRows[i];
            for (var j = 0; j < skuImgList.length; j++) {
                var skuImg = skuImgList[j];
                console.log("imgVs::::::"+skuImg.spuImgId+"||"+imgRow.id);
                if(skuImg.spuImgId==imgRow.id){
                    imgDg.datagrid("checkRow",i);
                    imgDg.datagrid("updateRow",{index:i,row:{isDefault:skuImg.isDefault}});
                }
            }
        }
    }

    /*标示是否是默认图片，同于勾选是否是默认图片*/
    function skuImgDgbeginEdit() {
        var skuImgDg = $("#skuImgDg");
        var rows = skuImgDg.datagrid('getRows');
        for (var i = 0; i < rows.length; i++) {
            skuImgDg.datagrid('beginEdit', i);
        }
    }

    function initSpuSaleAttrGroup(spuId) {
        console.log("初始化销售属性");
        var spuSaleAttrList={};
        /*清空数据*/
        $('#spuSaleAttrGroup').html("");
        /*获取div */
        var spuSaleAttrGroup= $('#spuSaleAttrGroup');
        /*加载数据：spuId
        * select * from xxx where spuId = spuId
        * */
        $.get("spuSaleAttrList?spuId="+spuId,function(data){
            /*回调函数：查询出来的结果*/
            console.log("spuSaleAttrList:"+ JSON.stringify(data));
            spuSaleAttrList=data;
            for (var i = 0; i < spuSaleAttrList.length; i++) {
                /*平台属性对象*/
                var spuSaleAttr = spuSaleAttrList[i];
                /*拼接销售属性名*/
                var spuSaleAttrHtml='<span>'+spuSaleAttr.saleAttrName+':</span> <select saleAttrId="'+spuSaleAttr.saleAttrId+'"  spuSaleAttrName="'+spuSaleAttr.saleAttrName+'"  class="easyui-combobox"   style="width:100px">';
                /*拼接属性值*/
                for (var j = 0; j < spuSaleAttrList[i].spuSaleAttrValueList.length; j++) {
                    /*平台属性值的对象*/
                    var spuSaleAttrValue = spuSaleAttrList[i].spuSaleAttrValueList[j];
                    /*显示的是属性值的名称，value绑定的是Id */
                    var spuSaleAttrValueHtml='<option value="'+spuSaleAttrValue.id+'">'+spuSaleAttrValue.saleAttrValueName+'</option>';
                    spuSaleAttrHtml=spuSaleAttrHtml+spuSaleAttrValueHtml;
                }
                spuSaleAttrHtml+='</select>';
                console.log(spuSaleAttrHtml);
                spuSaleAttrGroup.append($(spuSaleAttrHtml));
            }
            /*加载sku的销售属性*/
            loadSkuSaleAttr();
        });
    }

    function initAttrInfoGroup(catalog3Id){
        console.log("初始化平台属性:"+catalog3Id);
        var attrInfoList={};
        $('#attrInfoGroup').html("");
        var attrInfoGroup= $('#attrInfoGroup');
        /*控制器的路径：catalog3Id：*/
        $.get("attrInfoList?catalog3Id="+catalog3Id,function(data){
            console.log("attrInfoList:"+ JSON.stringify(data));
            attrInfoList=data;
            for (var i = 0; i < attrInfoList.length; i++) {
                var attrInfo = attrInfoList[i];
                var attrInfoHtml='<span>'+attrInfo.attrName+':</span> <select attrId="'+attrInfo.id+'"   class="easyui-combobox"   style="width:100px">';

                for (var j = 0; j < attrInfoList[i].attrValueList.length; j++) {

                    var attrValue = attrInfoList[i].attrValueList[j];
                    console.log(attrValue);
                    var attrValueHtml='<option value="'+attrValue.id+'">'+attrValue.valueName+'</option>'
                    attrInfoHtml=attrInfoHtml+attrValueHtml;
                }
                attrInfoHtml+='</select>';
                console.log(attrInfoHtml);
                attrInfoGroup.append($(attrInfoHtml));

            }

            loadSkuAttrInfo(skuInfo);

        });


    }

    function saveSku() {
        // 写一个json 字符串
        var skuInfo = {};
        skuInfo["skuName"] = $("#skuName").val();
        skuInfo["skuDesc"] = $("#skuDesc").val();
        skuInfo["price"] = $("#price").val();
        skuInfo["weight"] = $("#weight").val();
        skuInfo["spuId"] = $("#spuIdForSku").val();
        skuInfo["id"] = $("#skuId").val();
        skuInfo["catalog3Id"] = $("#catalog3IdForSku").val();

        // 开启dg 的编辑模式
        skuImgDgendEdit();
        //  List<SkuImage> skuImageList;
        // 写取得所有的图片数据，然后循环遍历
        var skuImgDgRows  = $("#skuImgDg").datagrid("getChecked");
        for (var i = 0; i < skuImgDgRows.length; i++) {
            skuInfo["skuImageList["+i+"].imgName"]=skuImgDgRows[i].imgName;
            skuInfo["skuImageList["+i+"].imgUrl"]=skuImgDgRows[i].imgUrl;
            // 是否是默认图片
            if(skuImgDgRows[i].isDefault=='1'){
                skuInfo["skuDefaultImg"] = skuImgDgRows[i].imgUrl;
            }
            skuInfo["skuImageList["+i+"].spuImgId"]=skuImgDgRows[i].id;
            skuInfo["skuImageList["+i+"].isDefault"]=skuImgDgRows[i].isDefault;
        }
//        List<SkuAttrValue> skuAttrValueList;
        //  需要取得平台属性Id ，以及平台属性值Id
        var attrInfoSelect =  $("#attrInfoGroup").children("select");
        for (var i = 0; i < attrInfoSelect.length; i++) {
            // attrId ，valueId attr()表示获取 属性为attrId的值
            var attrId= attrInfoSelect.eq(i).attr("attrId");
            skuInfo["skuAttrValueList[" + i + "].attrId"]=attrId;
            var valueId = attrInfoSelect.eq(i).find("option:selected").val();
            skuInfo["skuAttrValueList[" + i + "].valueId"]=valueId;
        }
//        List<SkuSaleAttrValue> skuSaleAttrValueList;
        var spuSaleAttrSelect = $("#spuSaleAttrGroup").children("select");
        console.log("len:"+ attrInfoSelect.length);
        for (var i = 0; i < spuSaleAttrSelect.length; i++) {
            var saleAttrValueId = spuSaleAttrSelect.eq(i).find("option:selected").val();
            var saleAttrValueName = spuSaleAttrSelect.eq(i).find("option:selected").text();
            var saleAttrId=spuSaleAttrSelect.eq(i).attr("saleAttrId");
            var saleAttrName=spuSaleAttrSelect.eq(i).attr("spuSaleAttrName");
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrValueId"]=saleAttrValueId;
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrValueName"]=saleAttrValueName;
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrId"]=saleAttrId;
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrName"]=saleAttrName;
        }

        console.log(JSON.stringify(skuInfo));


        // 写控制器
        $.post("saveSku",skuInfo,function (data) {
            // 关闭dialog
            $("#sku_dlg").dialog('close');
        })
    }

    function skuImgDgendEdit() {
        var rows = $("#skuImgDg").datagrid("getRows");
        for(i=0;i<rows.length;i++){
            $("#skuImgDg").datagrid("endEdit",i);
        }
    }
</script>